/* GALERIA SOBRE MI */

.sobre-mi-extra{
padding:70px 22px;
text-align:center;
background:#fafafa;
}

.sobre-mi-extra h2{
font-family:'Poppins';
font-size:24px;
margin-bottom:30px;
}

.sobre-mi-galeria{
display:grid;
gap:22px;
max-width:900px;
margin:auto;
}

.sobre-mi-galeria img{
width:100%;
border-radius:14px;
transition:filter .25s ease;
}

.sobre-mi-galeria img:hover{
filter:brightness(1.1);
}

@media (min-width:900px){

.sobre-mi-galeria{
grid-template-columns:1fr 1fr;
}

.sobre-mi-galeria img:last-child{
grid-column:span 2;
max-width:500px;
margin:auto;
}

}
